* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Inter", sans-serif;

  background: linear-gradient(to bottom, #002A57, #000);
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.loginHeader {
  margin-bottom: 50px;
}

.loginHeader h1 {
  color: white;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: xx-large;
  letter-spacing: 2px;
}

.loginHeader p {
  color: #999;
  font-weight: bold;
}

.input {
  background-color: #36343b;
  color: white;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: white;
}

.inputForm {
  background-color: #36343b;
  border-bottom: 2px solid #ecedec;
  border-radius: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
  margin-bottom: 32px;
}

.inputForm svg path {
  fill: #ffffff; /* Define a cor do ícone SVG para branco */
}

.loginButton {
  background: #7079f0;
  color: white;
  font-family: inherit;
  padding: 0.45em;
  padding-left: 1em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  cursor: pointer;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3em;
}

.loginButton:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em #5566c2;
}

.loginButton:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em #5566c2;
}

.iconButton {
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7a8cf3;
  right: 0.3em;
  transition: all 0.3s;
}

footer {
  justify-content: center;
  position: absolute;
  bottom: 0;

  padding: 30px 0;
}

footer p {
  color: #999;
  font-size: small;
  font-weight: bold;
}
