* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  background-color: #1c3f5d;
}

.addNameHeader {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 25%;
}

#medicationIcon {
  margin: 0 7.5%;
  width: 48 px;
  height: 48px;
  align-self: start;
  margin-bottom: 5%;
}

.addNameHeader h1 {
  display: flex;
  align-items: end;
  margin: 0 7.5%;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: x-large;
  margin-bottom: 7.5%;
}

.addNameWrapper {
  display: flex;
  justify-content: center;
  background-color: #1c1c1e;
  border-radius: 5px;
  height: 75%;
}

.input {
  background-color: #36343b;
  font-size: medium;
  padding-left: 2%;
  color: white;
  border: none;
  width: 98%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm {
  background-color: #36343b;
  margin-top: 10%;
  margin-right: 7.5%;
  margin-left: 7.5%;
  border: 2px solid #1c3f5d;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  align-items: center;
  transition: 0.2s ease-in-out;
}
